{extend name='common@home/master'}
{block name='body'}
<link rel="stylesheet" href="__IndexCSS__/index.css">
<div class="index_search">
    <div class="index_search_input"><input type="text" placeholder="请输入要搜索的内容"></div>
    <div class="searchbtn">搜索</div>
</div>
<div class="extension_list">
    <ul class="extension_list_box">
        <li class="extension_list_li">
            <img src="__IMG__/tdjt.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/nxkj.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/tk_design.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/zzjg.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/zyk.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/bzj.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/wgj.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/gjgj.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/empty.png" alt="">
        </li>
        <li class="extension_list_li">
            <img src="__IMG__/empty.png" alt="">
        </li>
    </ul>
</div>
<div class="recommend_list">

</div>
{/block}