<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>迈迪</title>
    <meta name="keywords" content="" /> 
    <meta name="description" content=""/> 
    <link rel="Shortcut Icon" href="__STATIC__/mdsoft.ico">
    <link rel="stylesheet" href="__CommonCSS__/indexBase.css">
</head>
<body>
<!--中间内容-->
<div id="main">
    {block name='body'}{/block}
</div>
<!--左侧导航-->
<div id="navleft">
    <ul>
        <a href="{:url('Index/index')}" {neq name="controller_name" value="Index"}target="_blank"{/neq}>
            <li class="navleft_li {eq name="controller_name" value="Index"}active{/eq}">
                <img src="__IMG__/design.png" />
            </li>
        </a>
        <a href="{:url('Organization/index')}" {neq name="controller_name" value="Organization"}target="_blank"{/neq}>
            <li class="navleft_li {eq name="controller_name" value="Organization"}active{/eq}">
                <img src="__IMG__/organization.png" />
            </li>
        </a>
<!--无连接-->
        <a href="#">
            <li class="navleft_li ">
                <img src="__IMG__/standardparts.png" />
            </li>
        </a>
        <a href="#">
            <li class="navleft_li">
                <img src="__IMG__/bought-in.png" />
            </li>
        </a>
        <a href="#">
            <li class="navleft_li">
                <img src="__IMG__/resource.png" />
            </li>
        </a>
        <a href="#">
            <li class="navleft_li">
                <img src="__IMG__/tool.png" />
            </li>
        </a>
        <a href="#">
            <li class="navleft_li">
                <img src="__IMG__/download.png" />
            </li>
        </a>

        <!--<a href="{:url('Index/index')}">-->
            <!--<li class="navleft_li">-->
                <!--<img src="__IMG__/design.png" />-->
            <!--</li>-->
        <!--</a>-->
        <!--<a href="{:url('Organization/index')}">-->
            <!--<li class="navleft_li">-->
                <!--<img src="__IMG__/organization.png" />-->
            <!--</li>-->
        <!--</a>-->
        <!--<li class="navleft_li">-->
            <!--<img src="__IMG__/standardparts.png" />-->
        <!--</li>-->
        <!--<li class="navleft_li">-->
            <!--<img src="__IMG__/bought-in.png" />-->
        <!--</li>-->
        <!--<li class="navleft_li">-->
            <!--<img src="__IMG__/resource.png" />-->
        <!--</li>-->
        <!--<li class="navleft_li">-->
            <!--<img src="__IMG__/tool.png" />-->
        <!--</li>-->
        <!--<li class="navleft_li">-->
            <!--<img src="__IMG__/download.png" />-->
        <!--</li>-->
    </ul>
    <div class="question">提问</div>
</div>
</body>
</html>